/TDD Practicing/.vs
/TDD Practicing/BankAccountKata.Core_1/bin/Debug/net10.0
/TDD Practicing/BankAccountKata.Core_1/obj
/TDD Practicing/BankAccountKata.Core_2/obj
/TDD Practicing/BankAccountKata_1/bin/Debug/net10.0
/TDD Practicing/BankAccountKata_1/obj
/TDD Practicing/BankAccountKata_2_Tests/bin/Debug/net10.0
/TDD Practicing/BankAccountKata_2_Tests/obj
/TDD Practicing/MoneyByExample.Tests/obj
